pkgbase = shairport-sync-git
	pkgdesc = Emulates an AirPort Express for the purpose of streaming music from iTunes and compatible iPods and iPhones
	pkgver = 3.3.7rc3.r1.g90636da
	pkgrel = 1
	url = https://github.com/mikebrady/shairport-sync
	arch = x86_64
	license = custom
	makedepends = git
	makedepends = xmltoman
	depends = avahi
	depends = libsoxr
	depends = alsa-lib
	depends = libconfig
	depends = libpulse
	depends = jack
	depends = mosquitto
	provides = shairport-sync
	conflicts = shairport-sync
	backup = etc/shairport-sync.conf
	source = git+https://github.com/mikebrady/shairport-sync.git
	source = shairport-sync.sysusers
	source = remove_useradd.patch
	sha1sums = SKIP
	sha1sums = b806f9cd3eeaf8585a51d79c7b5681e3d3e4748a
	sha1sums = 2cdd711a21a74748137d2e3894fb0fcb189c41e2

pkgname = shairport-sync-git

